StructureDefinition/package-2015/*.*
StructureDefinition/no-basis-2.0.13/*.*

extension-iso21090*

for-validation-gd-r4-neu/*.*

for-validation-gd-221/*.*
for-validation-gd-r4/*.*
for-validation-gd-230/*.*
validation-result/*.*
mergefiles/*.*
